:root {
  --c-dark: #002C2B;
  --c-highlight: #FF3D00;
  --c-lemon: #FFBC11;
  --c-light-green: #0A837F;
  --c-green: #076461;
}

body {
  color: var(--c-dark);
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--c-green);
}

.topbar {
  height: 80px;
  background: var(--c-dark);
  color: var(--c-lemon);
  font-size: 32px;
  text-shadow: 3px 3px 9px var(--c-highlight);
  line-height: 80px;
}

.post {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  height: 65vh;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
  box-shadow: 0px 0px 30vw 4px rgba(0,0,0,.7) inset;
}

.post::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: inherit;
  background-clip: content-box;
  padding: 20px;
  filter: blur(14px);
}

.post a {
  color: inherit;
  padding: 20px;
  position: relative;
}

