{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    {{ $cover := .Resources.GetMatch "cover.jpg" }}
    {{ $cover_resized := $cover.Fill "1920x800" }}

    <article class="post" style="background-image:url({{ $cover_resized.RelPermalink }})">
      <!-- <h2 class="post__date">{{ .Date.Format "January 2, 2006" }}</h2> -->
      <a href="{{ .Permalink }}">
        <h1 class="post__title">{{ .Title }} {{ if .Draft }} ::Draft{{ end }}</h1>
        <div class="post__content">
          {{ .Params.excerpt | plainify | safeHTML }}
          {{ if .Truncated }}
          {{ end }}
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
